<div class="page-layout simple fullwidth inner-scroll" fusePerfectScrollbar>
    <!-- HEADER -->
    <div class="header">
        <div>
            <div class="breadcrumb">
                <mat-icon class="mat-icon24" color="accent">home</mat-icon>
                <mat-icon>chevron_right</mat-icon>
                <span>Configuración general</span>
                <mat-icon>chevron_right</mat-icon>
                <a routerLink="/configuracion/dashboard">Catálogos</a>
                <mat-icon>chevron_right</mat-icon>
                <a routerLink="/configuracion/rangos-uvt">Rangos UVT</a>
                <mat-icon>chevron_right</mat-icon>
                <span>Crear rangos UVT</span>
            </div>
            <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <h2 class="title">Crear rangos UVT</h2>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <div>

            <form [formGroup]="form" *ngIf="form" (ngSubmit)="guardarHandle($event)">

                <div class="dos-bloque">
                    <mat-form-field appearance="outline">
                        <mat-label>Desde</mat-label>
                        <input matInput formControlName="desde" required>
                        <mat-error *ngFor="let error of form.get('desde').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template [ngSwitchCase]="'max'">
                                    Valor máximo 99999.
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Número donde comienza el rango de UVT.">
                            info
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Hasta</mat-label>
                        <input matInput formControlName="hasta" max="99999">
                        <mat-error *ngFor="let error of form.get('hasta').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template [ngSwitchCase]="'max'">
                                    Valor máximo 99999.
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Número donde termina  el rango de UVT.">
                            info
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="dos-bloque">
                    <mat-form-field appearance="outline">
                        <mat-label>Porcentaje</mat-label>
                        <input matInput formControlName="porcentaje" mask="separator.2" suffix="%" required>
                        <mat-error *ngFor="let error of form.get('porcentaje').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template [ngSwitchCase]="'max'">
                                    Valor máximo 100.
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Número que indica el valor porcentual que tiene el rango.">
                            info
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Cantidad de UVT que adiciona</mat-label>
                        <input matInput formControlName="adiciona" required>
                        <mat-error *ngFor="let error of form.get('adiciona').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template [ngSwitchCase]="'max'">
                                    Valor máximo 10000.
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Número de UVT que se suman en el rango definido.">
                            info
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="dos-bloque">
                    <mat-form-field appearance="outline">
                        <mat-label>Cantidad de UVT que sustrae</mat-label>
                        <input matInput formControlName="sustrae" required>
                        <mat-error *ngFor="let error of form.get('sustrae').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template [ngSwitchCase]="'max'">
                                    Valor máximo 10000.
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Número de UVT que se restan en el rango definido.">
                            info
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Válido desde</mat-label>
                        <input matInput [matDatepicker]="fecha" (focus)="fecha.open()"
                            (click)="fecha.open()" formControlName="fecha" required>
                        <mat-datepicker-toggle matPrefix [for]="fecha">
                        </mat-datepicker-toggle>
                        <mat-datepicker startView="year" #fecha></mat-datepicker>
                        <mat-error *ngFor="let error of form.get('fecha').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template [ngSwitchCase]="'matDatepickerParse'">
                                    No es un formato de fecha válido.
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Fecha desde la que comienza la validez del rango definido.">
                            info
                        </mat-icon>
                    </mat-form-field>
                </div>



                <div class="actions">
                    <a mat-raised-button routerLink="/configuracion/rangos-uvt"
                        routerLinkActive="router-link-active">
                        <mat-icon>cancel</mat-icon>
                        <span>Cancelar</span>
                    </a>
                    <button mat-raised-button [disabled]="form.invalid || submit" type="submit" color="accent">
                        <mat-icon>save</mat-icon>
                        <span>Guardar</span>
                    </button>
                </div>
            </form>
            <!-- / Formulario -->

        </div>

    </div>
</div>
