<form [formGroup]="form" *ngIf="form" (ngSubmit)="buscarHandle($event)">
    <mat-toolbar class="toolbar-filter">
        <mat-toolbar-row>
            <h1 mat-dialog-title>Filtro</h1>
            <button type="button" mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>

        <mat-form-field appearance="outline">
            <mat-label>Funcionario</mat-label>
            <input matInput formControlName="criterioBusqueda">
            <mat-error *ngFor="let error of objToArray(form.get('criterioBusqueda').errors)">
                <div [ngSwitch]="error">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Documento de identificación o nombre del funcionario.">
                info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Novedad</mat-label>
            <input matInput placeholder="" formControlName="novedad">
            <mat-error *ngFor="let error of objToArray(form.get('novedad').errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix
                matTooltip="Ítem de la nómina por medio del cual se realiza un pago o un descuento al funcionario.">info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fecha de aplicación</mat-label>
            <input matInput [matDatepicker]="fechaAplicacion" (click)="fechaAplicacion.open()"
                formControlName="fechaAplicacion">
            <mat-datepicker-toggle matPrefix [for]="fechaAplicacion">
            </mat-datepicker-toggle>
            <mat-datepicker startView="year" #fechaAplicacion></mat-datepicker>
            <mat-error *ngFor="let error of objToArray(form.get('fechaAplicacion').errors)">
                <div [ngSwitch]="error">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template [ngSwitchCase]="'matDatepickerParse'">
                        No es un formato de fecha válido.
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Fecha en la que ocurrio la novedad.">
                info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
                <mat-option [value]="null"></mat-option>
                <mat-option [value]="estadoNovedad.anulada">Anulada</mat-option>
                <mat-option [value]="estadoNovedad.cancelada">Cancelada</mat-option>
                <mat-option [value]="estadoNovedad.enCurso">En curso</mat-option>
                <mat-option [value]="estadoNovedad.liquidada">Liquidada</mat-option>
                <mat-option [value]="estadoNovedad.pendiente">Pendiente</mat-option>
            </mat-select>
            <mat-error *ngFor="let error of objToArray(estado.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Estado en el que se encuentra la novedad.">info</mat-icon>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="limpiarHandle($event)">
            <mat-icon>cancel</mat-icon>
            <span>Borrar filtros</span>
        </button>
        <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
    </div>

</form>
