parametros-mostrar {
    @import "src/@alcanos/scss/alcanos-v2";
    div.ng-star-inserted {
        width: 45%;
        padding: 10px;
        float: left;
    }
    .flex-data {
        display: flex;
    }
    .content .box-shadow {
        padding: 24px !important;
        padding-bottom: 35px !important;
        //height: 105% !important;
    }
    .max-width-primario {
        max-width: 130px;
    }

    .empty-state {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
