@import "src/@fuse/scss/fuse";

#contacts {

    .header {

        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);

            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;

                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .padding_{
        padding: 24px;
    }
    .title_{
        font-size: 30px;
        padding: 24px;
        padding-top: 0 !important;
        padding-left: 0 !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }
    .content {
        overflow: hidden;
        .sidebar {

            &:not(.locked-open) {
                background: white;
            }
        }
    }

    .not-overflow{
        overflow: hidden;
    }

    mat-list-item, .title_ {
        font-family: Muli,Helvetica Neue,Arial,sans-serif !important;
    }
}
