@import "src/@alcanos/scss/alcanos-modal";
solicitud-vacaciones-mostrar {
    @import "src/@alcanos/scss/alcanos-v2";

    .pb {
        padding-bottom: 24px !important;
    }
    th.pl {
        padding-left: 12px !important;
    }
    td.pl {
        padding-left: 12px !important;
    }

}
