liquidacion-nomina-novedades {
    @import "src/@alcanos/scss/alcanos-v2";

    table {
        .mat-column-cantidad {
            max-width: 80px;
        }
         .mat-column-nominaFuenteNovedad-modulo {
            max-width: 170px;
        }

        .mat-column-valor {
            max-width: 120px;
        }

        td.mat-column-valor {
            text-align: right;
            padding-right: 18px !important;
        }
        .centrar {
            padding-left: 75px;
        }

        .dr {
            text-align: right;
            padding-right: 23px !important;
        }
    }

    .terciaria {
        background-color: #238e79 !important;
        color: white !important;
    }
    .spiner{
        margin: auto;
    }
}
