@import "src/@alcanos/scss/alcanos-modal";
formulario-beneficios {
    @import "src/@alcanos/scss/alcanos-v2";
    input {
        text-align: left !important;
    }
    .file-table {
        max-width: 600px;
        margin-left: 10px;
    }
    .save_alt_icon {
        color: rgba(0, 0, 0, 0.87) !important;
    }

    .obtener {
        max-width: 50%;
        padding-right: 12px;
    }
}
