cargos-mostrar {
    @import "src/@alcanos/scss/alcanos-v2";

    table.simple {
        .margen {
            padding-left: 24px !important;
            padding-right: 24px !important;
        }
        .tamaño {
            padding-bottom: 16px !important;
            padding-top: 16px !important;
        }
    }

    table.simple tbody tr td {
        border-bottom: 0px solid rgba(0, 0, 0, 0.12);
    }

    table.simple td {
        padding: 0px !important;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
}
