@import "src/@fuse/scss/fuse";
funcionarios-header {
    .contenido {
        .header {
            border-bottom: 7px #6e992e solid !important;
            box-shadow: 0px 2px 4px 0px grey;
        }
        .header h2 {
            color: #6e992e;
        }
        .card-header {
            background: #2b5b5b !important;
            //background-image: url("/assets/alcanos/background_header.png");
            color: white;
            margin-top: -24px;
            margin-right: -24px;
            margin-left: -24px;
        }
        img {
            border-radius: 50%;
            // margin-top: 10px;
            // margin-bottom: 18px;
            min-width: 105px;
            min-height: 110px;
            max-width: 110px;
            max-height: 110px;
        }
        .avatar {
            background: url(assets/alcanos/nofuncionario.jpg);
            background-position: top center !important;
            background-size: 100% !important;
            background-repeat: no-repeat !important;
            border-radius: 50%;
            margin-top: 10px;
            margin-bottom: 18px;
            min-width: 110px;
            min-height: 110px;
            max-width: 110px;
            max-height: 110px;
            // margin-left: 20px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .btn-tipo-prueba {
            width: 120px;
            padding: 8px;
            cursor: auto !important;
            border-radius: 30px;
            text-align: center;
        }
        .activo {
            background: #6e992e !important;
            color: white !important;
        }
        .seleccionado {
            background: #8080ff !important;
            color: white !important;
        }
        .retirado {
            background: #f7734b !important;
            color: white !important;
        }
        .enVacaciones {
            background: #00c1c1 !important;
            color: white !important;
        }
        .incapacitado {
            background: #f2c900 !important;
            color: white !important;
        }
        .max-width-primario {
            max-width: 180px;
        }
    }
}
