liquidacion-nomina-navegacion {
    .paso-a-paso-menu {
        margin-bottom: 24px;
        padding-top: 10px;
        
        button:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
        button {
            cursor: pointer;
            background-color: white;
            padding: 0;
            margin: 0;
            border: none;
            height: 100%;
            width: 100%;
            img {
                height: 100px;
            }
        }
    }
}
