proceso-costos-listar {
    @import "src/@alcanos/scss/alcanos-v2";
    
    .terciaria {
        background-color: #238e79 !important;
        color: white !important;
    }

    .secundaria {
        background-color: #028696 !important;
        color: white !important;
    }

    .secundaria[disabled] {
        background-color: rgba(0, 0, 0, 0.12) !important;
        color: rgba(0, 0, 0, 0.26) !important;
    }

}
