<form [formGroup]="form" *ngIf="form" (ngSubmit)="guardarHandle($event)">
    <h1 mat-dialog-title>Terminar solicitud de vacaciones</h1>
    <div mat-dialog-content fusePerfectScrollbar>

        <mat-form-field appearance="outline">
            <mat-label>¿Esta solicitud ha sido terminada?</mat-label>
            <mat-select formControlName="estado" required>
                <mat-option [value]="null"></mat-option>
                <mat-option [value]="estadoVacaciones.terminada">Esta solicitud ha sido terminada</mat-option>

            </mat-select>
            <mat-error *ngFor="let error of objToArray(form.get('estado').errors)">
                <div [ngSwitch]="error">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Indica si se interrumpen las vacaciones.">info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fecha de terminación</mat-label>
            <input matInput [matDatepicker]="fechaFin" (click)="fechaFin.open()" formControlName="fechaFinDisfrute"
                required>
            <mat-datepicker-toggle matPrefix [for]="fechaFin">
            </mat-datepicker-toggle>
            <mat-datepicker startView="year" #fechaFin></mat-datepicker>
            <mat-error *ngFor="let error of form.get('fechaFinDisfrute').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template [ngSwitchCase]="'matDatepickerParse'">
                        No es un formato de fecha válido.
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Fecha de terminación de la solicitud de vacaciones.">
                info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Justificación</mat-label>
            <textarea matInput formControlName="justificacion" required>
                           </textarea>
            <mat-error *ngFor="let error of objToArray(form.get('justificacion').errors)">
                <div [ngSwitch]="error">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Descripción del cambio de estado de la solicitud de vacaciones.">
                info</mat-icon>
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="dialogRef.close() ">
            <mat-icon>cancel</mat-icon>
            <span>Cancelar</span>
        </button>
        <button mat-raised-button type="submit" [disabled]="form.invalid || submit" color="accent">
            <mat-icon>save</mat-icon>
            <span>Guardar</span>
        </button>
    </div>
</form>