alcanos-dialog {
    .mat-dialog-content {
        min-width: 300px;
        text-align: center;
    }
    .dialog-title {
        margin: -24px !important;
        min-height: 175px;
        mat-icon {
            transform: scale(5);
        }
    }
    .error {
        background: #e2564b !important;
        color: rgba($color: #FFF, $alpha: 1) !important;
    }
    .exito {
        background: #6e992e !important;
        color: rgba($color: #FFF, $alpha: 1) !important;
    }
    .informativo {
        background: #007cc0 !important;
        color: rgba($color: #FFF, $alpha: 1) !important;
    }
    .advertencia {
        background: #ef6100 !important;
        color: rgba($color: #FFF, $alpha: 1) !important;
    }
}