centro-trabajos-listar {
    @import "src/@alcanos/scss/alcanos-v2";
    table {
        width: 100%;
        .mat-column-codigo {
            max-width: 70px;
        }
        .mat-column-nombre {
            max-width: 150px;
        }
        .mat-column-porcentajeRiesgo {
            max-width: 70px;
        }
        .mat-column-acciones {
            max-width: 50px;
        }
    }

    .text-success {
        color: green;
    }

    .text-danger {
        color: red;
    }
}
