<form [formGroup]="form" *ngIf="form" (ngSubmit)="guardarHandle($event)">
   <h1 mat-dialog-title>Crear nivel de cargo</h1>
   <div mat-dialog-content fusePerfectScrollbar>

      <mat-form-field appearance="outline">
         <mat-label>Nombre</mat-label>
         <input matInput formControlName="nombre" required>
         <mat-error *ngFor="let error of objToArray(nombre.errors)">
            <div [ngSwitch]="error">
               <ng-template [ngSwitchCase]="'required'">
                  Requerido
               </ng-template>
               <ng-template ngSwitchDefault>
                  {{error}}
               </ng-template>
            </div>
         </mat-error>
         <mat-icon matSuffix matTooltip="Nombre del nivel de cargo.">info</mat-icon>
      </mat-form-field>

   </div>
   <div mat-dialog-actions>
      <a mat-raised-button (click)="dialogRef.close() ">
         <mat-icon>cancel</mat-icon>
         <span>Cancelar</span>
      </a>
      <button type="submit" mat-raised-button [disabled]="form.invalid || submit" color="accent">
         <mat-icon>save</mat-icon>
         <span>Guardar</span>
      </button>
   </div>
</form>