gestor-archivos-upload{
    mat-error{
        margin-left: 15px !important;
    }

    input {
        border: none;
        padding: 0 0px !important;
    }
    
}
.previewImg{
    min-width: 110px;
    min-height: 110px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    font-size: 120px;
    text-align: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background: #ff006d;
    color: white;
    width: 100%;
    padding: 11px !important;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
}