@import "src/@fuse/scss/fuse";

ayuda-articulos-crear{
    @import "src/@alcanos/scss/alcanos-v2";

    .ckeditor-form--apariencia {
        width: 95%;
        display: inline-block;
        position: relative;
    }
    .ck-editor__editable {
        min-height: 150px;
        margin-bottom: 20px;
    }
    
}
 