<form [formGroup]="form" *ngIf="form" (ngSubmit)="guardarHandle($event)">
    <h1 mat-dialog-title>Crear nivel educativo</h1>
    <div mat-dialog-content fusePerfectScrollbar>

        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="" formControlName="nombre" required>
            <mat-error *ngFor="let error of objToArray(nombre.errors)">
                <div [ngSwitch]="error">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Nombre del nivel educativo.">info</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Orden</mat-label>
            <input matInput formControlName="orden" type="number" required>
            <mat-error *ngFor="let error of objToArray(orden.errors)">
                <div [ngSwitch]="error">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template [ngSwitchCase]="'max'">
                        Valor máximo 99.
                    </ng-template>
                    <ng-template [ngSwitchCase]="'min'">
                        Valor mínimo 1.
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Nivel de importancia del nivel educativo.">
                info</mat-icon>
        </mat-form-field>

    </div>

    <div mat-dialog-actions>
        <button type="button" mat-raised-button (click)="dialogRef.close() ">
            <mat-icon>cancel</mat-icon>
            <span>Cancelar</span>
        </button>
        <button type="submit" mat-raised-button [disabled]="form.invalid || submit" color="accent">
            <mat-icon>save</mat-icon>
            <span>Guardar</span>
        </button>
    </div>
</form>