@import "src/@alcanos/scss/alcanos-modal";

tipo-embargos-editar {
    @import "src/@alcanos/scss/alcanos-v2";

    table {
        width: 100%;

        .margen {
            padding-left: 24px !important;
        }

        .dr {
            text-align: center;
        }
        .maximo {
            text-align: center;
            padding-left: 200px !important;
        }
    }
}
