tareas-programadas-listar {
    @import "src/@alcanos/scss/alcanos-v2";

    .tamaño {
        font-size: 25px !important;
    }

    table {
        width: 100%;

        .mat-column-nombre {
            max-width: 130px;
        }

        .mat-column-enEjecucion {
            max-width: 60px;
        }

        .mat-column-periodicidad {
            max-width: 120px;
        }

        .mat-column-fechaModificacion {
            max-width: 80px;
        }

        .mat-column-acciones {
            max-width: 70px;
        }
    }
}