
tipo-beneficio-corporativo-mostrar{
    @import "src/@alcanos/scss/alcanos-v2";
    a {
        text-decoration: none !important;
    }
    table {
        .margen {
            padding-left: 24px !important;
            padding-bottom: 10px !important;
        }
        .tamaño {
            padding-bottom: 15px !important;
            padding-top: 15px !important;
        }
    }
}



