@import "src/@fuse/scss/fuse";
contrato-header {
    .contenido {
        .header {
            border-bottom: 7px #6e992e solid !important;
            box-shadow: 0px 2px 4px 0px grey;
        }
        .header h2 {
            color: #6e992e;
        }
        .card-header {
            background: #2b5b5b !important;
            background-image: url("/assets/alcanos/background_header.png");
            color: white;
            margin-top: -24px;
            margin-right: -24px;
            margin-left: -24px;
        }
        .avatar {
            width: 100px;
            min-width: 100px;
            height: 100px;
            margin: 0 8px 0 0;
            border-radius: 50%;
            font-size: 17px;
            font-weight: 600;
            text-align: center;
        }

    }
    .formato {
        position: relative;
        display: inline-block;
        left: 14px;
        top: -5px;
        cursor: auto !important;
    }
    .centro-operativo {
        position: relative;
        margin-left: 10px;
    }
    .btn-tipo-prueba{
        cursor: auto !important;
        border-radius: 90px;
    }
    .max-width-list{
        max-width: 150px;
    }
    .max-width-primario{
        max-width: 180px;
    }

    .vigente{
        background: #6e992e !important;
        color: white !important;
    }
    .sinIniciar{
        background: #8080ff !important;
        color: white !important; 
    }
    .cancelado{
        background: #f7734b !important;
        color: white !important;
    }
    .suspendido{
        background: #ffa73e !important;
        color: white !important; 
    }
    .terminado{
        background: #f2c900 !important;
        color: white !important;
    }
    .pendiente{
        background: #d257ff !important;
        color: white !important;
    }

}
