nivel-educativos-listar {
    @import "src/@alcanos/scss/alcanos-v2";

    .text-success {
        color: green;
    }

    .text-danger {
        color: red;
    }

    table {
        width: 100%;

        .mat-column-orden {
            max-width: 60px;
        }

        td.aling {
            // text-align: right !important;
            padding-left: 35px !important;
        }
    }
}
