formulario-novedades {
    @import "src/@alcanos/scss/alcanos-v2";
    .text-inform {
        padding-top: 0px !important;
        margin-top: -60px;
        margin-left: 10px;
    }
    table {
        width: 100%;

        .margen {
            padding-left: 24px !important;
        }
    }
}
