ausentismos-formulario {
    @import "src/@alcanos/scss/alcanos-v2";

    .mat-input-element[type="time" i] {
        display: block !important;
        position: relative !important;
        max-width: 101.5% !important;
        width: 1200px !important;
        
    }

    .ocultar_mat_icon{
        background: white !important;
    }
}
