
formulario-tipo-beneficios{
    @import "src/@alcanos/scss/alcanos-v2";
    input{
        text-align: left !important;
    }
    a{
        text-decoration: none !important;
    }
    table {
        .margen {
            padding-left: 24px !important;
        }
        .tamaño {
            padding-bottom: 15px !important;
            padding-top: 15px !important;
        }
    }
}