<form [formGroup]="form" *ngIf="form" (ngSubmit)="buscarHandle($event)">
    <mat-toolbar class="toolbar-filter">
        <mat-toolbar-row>
            <h1 mat-dialog-title>Filtro</h1>
            <button type="button" mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>

        <mat-form-field appearance="outline">
            <mat-label>Funcionario</mat-label>
            <input matInput formControlName="criterioBusqueda">
            <mat-error *ngFor="let error of form.get('criterioBusqueda').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Documento de identificación o nombre del funcionario.">
                info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipoHoraExtraId">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let item of tipoHoraExtraOptions" [value]="item.id">
                    <span *ngIf="item.tipo ==horaExtra.recargoNocturno">{{ horaExtraM.recargoNocturno }} </span>
                    <span *ngIf="item.tipo == horaExtra.horaExtraDiurna">{{ horaExtraM.horaExtraDiurna }}</span>
                    <span *ngIf="item.tipo == horaExtra.horaExtraNocturna">{{ horaExtraM.horaExtraNocturna }}</span>
                    <span
                        *ngIf="item.tipo == horaExtra.horaExtraFestivaDominicalDiurna">{{ horaExtraM.horaExtraFestivaDominicalDiurna }}</span>
                    <span
                        *ngIf="item.tipo == horaExtra.horaExtraFestivaDominicalNocturna">{{ horaExtraM.horaExtraFestivaDominicalNocturna }}</span>
                    <span
                        *ngIf="item.tipo == horaExtra.recargoNocturnoDominicalFestivo">{{ horaExtraM.recargoNocturnoDominicalFestivo }}</span>
                    <span
                        *ngIf="item.tipo == horaExtra.dominicalFestivoCompensado">{{ horaExtraM.dominicalFestivoCompensado }}</span>
                    <span
                        *ngIf="item.tipo == horaExtra.dominicalFestivoNoCompensado">{{ horaExtraM.dominicalFestivoNoCompensado }}</span>
                </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of form.get('tipoHoraExtraId').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Clase de hora extra.">info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="fecha" (click)="fecha.open()"
                formControlName="fecha">
            <mat-datepicker-toggle matPrefix [for]="fecha">
            </mat-datepicker-toggle>
            <mat-datepicker startView="year" #fecha></mat-datepicker>
            <mat-error *ngFor="let error of form.get('fecha').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template [ngSwitchCase]="'matDatepickerParse'">
                        No es un formato de fecha válido.
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Fecha en la que se efectúa la hora extra.">
                info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
                <mat-option [value]="null"></mat-option>
                <mat-option [value]="'Pendiente'">Pendiente</mat-option>
                <mat-option [value]="'Aplicada'">Aplicada</mat-option>
            </mat-select>

            <mat-error *ngFor="let error of form.get('estado').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Estado de la hora extra.">info</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Forma de registro</mat-label>
            <mat-select formControlName="formaRegistro">
                <mat-option [value]="null"></mat-option>
                <mat-option [value]="'Automatico'">Automatico</mat-option>
                <mat-option [value]="'Manual'">Manual</mat-option>
            </mat-select>

            <mat-error *ngFor="let error of form.get('formaRegistro').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Modo como fue ingresada la hora extra.">info</mat-icon>
        </mat-form-field>


    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button type="button" (click)="limpiarHandle($event)">
            <mat-icon>cancel</mat-icon>
            <span>Borrar filtros</span>
        </button>
        <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
    </div>
</form>