<form [formGroup]="form" *ngIf="form" (ngSubmit)="guardarHandle($event)">
        <h1 mat-dialog-title *ngIf="accion == 'editar'">Editar subperíodo</h1>
        <h1 mat-dialog-title *ngIf="accion == 'crear'">Agregar subperíodo</h1>
        <div mat-dialog-content fusePerfectScrollbar>

            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" required>
                <mat-error *ngFor="let error of nombre.errors | keyvalue">
                    <div [ngSwitch]="error.key">
                        <ng-template [ngSwitchCase]="'required'">
                            Requerido
                        </ng-template>
                        <ng-template ngSwitchDefault>
                            {{error.key}}
                        </ng-template>
                    </div>
                </mat-error>
                <mat-icon matSuffix matTooltip="Nombre del subperíodo de liquidación.">info</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Días</mat-label>
                <input type="number" matInput placeholder="" formControlName="dias" required>
                <mat-error *ngFor="let error of dias.errors | keyvalue">
                    <div [ngSwitch]="error.key">
                        <ng-template [ngSwitchCase]="'required'">
                            Requerido
                        </ng-template>
                        <ng-template [ngSwitchCase]="'max'">
                            Valor máximo: {{ dias.errors.max.max }}
                        </ng-template>
                        <ng-template ngSwitchDefault>
                            {{error.key}}
                        </ng-template>
                    </div>
                </mat-error>
                <mat-icon matSuffix matTooltip="Número de días que corresponden al período de liquidación.">info
                </mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Día inicial</mat-label>
                <input type="number" matInput placeholder="" formControlName="diaInicial" required>
                <mat-error *ngFor="let error of diaInicial.errors | keyvalue">
                    <div [ngSwitch]="error.key">
                        <ng-template [ngSwitchCase]="'required'">
                            Requerido
                        </ng-template>
                        <ng-template [ngSwitchCase]="'max'">
                            Valor máximo: {{ diaInicial.errors.max.max }}
                        </ng-template>
                        <ng-template ngSwitchDefault>
                            {{error.key}}
                        </ng-template>
                    </div>
                </mat-error>
                <mat-icon matSuffix matTooltip="Número del día inicial del subperíodo.">info
                </mat-icon>
            </mat-form-field>

        </div>
        <div mat-dialog-actions>
            <button mat-raised-button  type="button" (click)="dialogRef.close()">
                <mat-icon>cancel</mat-icon>
                <span>Cancelar</span>
            </button>
            <button type="submit" mat-raised-button [disabled]="form.invalid || submit" color="accent">
                <mat-icon>save</mat-icon>
                <span>Guardar</span>
            </button>
        </div>
</form>