rangos-uvt-listar {
    @import "src/@alcanos/scss/alcanos-v2";
    .text-success {
        color: green;
    }

    .text-danger {
        color: red;
    }

    table {
        .mat-column-desde {
            max-width: 90px;
        }
        td.mat-column-desde {
            text-align: center;
            padding-right: 36px;
        }

        .mat-column-hasta {
            max-width: 90px;
        }
        td.mat-column-hasta {
            text-align: center;
            padding-right: 26px;
        }
        .mat-column-porcentaje {
            max-width: 120px;
        }
        // td.mat-column-porcentaje {
        //     text-align: center;
        //     // padding-right: 23px;
        // }

        .mat-column-adiciona {
            max-width: 120px;
        }
        // td.mat-column-adiciona {
        //     text-align: right;
        //     padding-right: 47px;
        // }
        .mat-column-sustrae {
            max-width: 120px;
        }
        // td.mat-column-sustrae {
        //     text-align: right;
        //     padding-right: 56px;
        // }

        .mat-column-estadoRegistro {
            max-width: 120px;
        }

        .drPorcentaje {
            padding-left: 52px;
        }

        .drAdiciona {
            // text-align: right;
            padding-left: 112px;
        }
        .drSustrae {
            // text-align: right;
            padding-left: 100px;
        }
    }
}
