@import "src/@alcanos/scss/alcanos-modal";

beneficio-corporativo-crear {
    @import "src/@alcanos/scss/alcanos-v2";
    .spiner {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 40%;
        z-index: 9999; 
    }
}
