cambio-administradoras-listar {
    @import "src/@alcanos/scss/alcanos-v2";
    .text-success {
        color: green;
    }

    .text-danger {
        color: red;
    }

    .mat-column-tipoAdministradora-codigo p{
        padding-left: 10px;
    }
}
