@import "src/@alcanos/scss/alcanos-modal";

vacaciones-mostrar-detalle {
    .spiner {
        width: 44%;
        height: 42%;
        position: absolute;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @import "src/@alcanos/scss/alcanos-v2";
 
    table {
        width: 100%;

        .dr {
            text-align: right;
        }
        .disfrutado {
            padding-right: 24px !important;
        }
        .dinero {
            padding-right: 38px !important;
        }
        .interrupciones {
            padding-right: 8px !important;
        }

        th {
            max-width: 110px;
            white-space: normal !important;
        }
    }


}
