<div class="spiner" *ngIf="espera">
    <mat-spinner></mat-spinner>
</div>

<form [formGroup]="form" *ngIf="form" (ngSubmit)="guardarHandle($event)">
    <h1 mat-dialog-title>Obtener actividades de costos</h1>
    <div mat-dialog-content fusePerfectScrollbar>

        
        <mat-form-field appearance="outline">
            <mat-label>Centro de costo</mat-label>
            <input matInput formControlName="centroCosto" [matAutocomplete]="autoFn">
            <mat-autocomplete [displayWith]="displayFnCentroCostos" #autoFn="matAutocomplete">
                <mat-option *ngFor="let item of filteredCentroCostos | async" [value]="item">
                    {{item.centroCosto?.codigo}} - {{item.centroCosto?.nombre}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngFor="let error of form.get('centroCosto').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Código de clasificación del costo y gasto de la compañía.">info
            </mat-icon>
        </mat-form-field>

        

        <mat-form-field appearance="outline">
            <mat-label>Porcentaje</mat-label>
            <input matInput formControlName="porcentaje" mask="separator.0" suffix="%" required>
            <mat-error *ngFor="let error of form.get('porcentaje').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template [ngSwitchCase]="'max'">
                        Valor máximo 100.
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Número que indica el valor porcentual que tiene el rango.">
                info
            </mat-icon>
        </mat-form-field>

    </div>

    <div mat-dialog-actions fxLayout="row " fxLayoutAlign="end center ">
        <button mat-raised-button type="button" (click)="dialogRef.close() ">
            <mat-icon>cancel</mat-icon>
            <span>Cancelar</span>
        </button>
    
        <button mat-raised-button type="submit" [disabled]="form.invalid || submit" color="accent">
            <mat-icon>save</mat-icon>
            <span>Agregar</span>
        </button>
    </div>
</form>