@import "src/@fuse/scss/fuse";
tipo-periodos-subperiodo {
    @import "src/@alcanos/scss/alcanos-v2";

    table {
        .mat-column-nombre {
            min-width: 100px;
        }
        .mat-column-acciones {
            min-width: 100px;
        }
        .mat-column-diaInicial {
            min-width: 100px;
        }

        .mat-column-dias {
            min-width: 100px;
        }
        td.mat-column-dias {
            padding-left: 28px;
        }

        th.mat-column-dias {
            padding-left: 10px;
        }

        td.mat-column-diaInicial {
            padding-left: 58px;
        }

    }
}
