<div class="page-layout simple fullwidth inner-scroll" fusePerfectScrollbar>

	<!-- HEADER -->
	<div class="header">

		<div>
			<div class="breadcrumb">
				<mat-icon color="accent">home</mat-icon>
				<mat-icon>chevron_right</mat-icon>
				<span>Administración de personal</span>
				<mat-icon>chevron_right</mat-icon>
				<a routerLink="/administracion-personal/funcionarios">Funcionarios</a>
				<mat-icon>chevron_right</mat-icon>
				<span>Cargar documento</span>
			</div>
			<div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
				<h2 class="title">Cargar documento</h2>
			</div>
		</div>
		<div class="actions">
			<button *ngIf="itemFuncionario" mat-raised-button color="accent" class="acciones" [matMenuTriggerFor]="menu">
				<mat-icon>add</mat-icon>
				<span>Acciones</span>
			</button>
			<mat-menu #menu="matMenu">
				<a *ngIf="itemFuncionario"
					routerLink="/administracion-personal/funcionarios/{{itemFuncionario.id}}/datos-basicos"
					mat-menu-item>Editar
					datos básicos</a>
				<a *ngIf="itemFuncionario"
					routerLink="/administracion-personal/funcionarios/{{itemFuncionario.id}}/familiar"
					mat-menu-item>Registrar
					información familiar</a>
				<a *ngIf="itemFuncionario" routerLink="/administracion-personal/funcionarios/{{itemFuncionario.id}}/estudio"
					mat-menu-item>Registrar
					estudio realizado</a>
				<a *ngIf="itemFuncionario"
					routerLink="/administracion-personal/funcionarios/{{itemFuncionario.id}}/experiencia-laboral"
					mat-menu-item>Registrar experiencia laboral
				</a>
				<a *ngIf="itemFuncionario" routerLink="/administracion-personal/contratos/crear" mat-menu-item>Registrar
					contrato</a>
				<a *ngIf="itemFuncionario"
					routerLink="/administracion-personal/funcionarios/{{itemFuncionario.id}}/documentos" mat-menu-item>Cargar
					documento</a>
			</mat-menu>

		</div>

	</div>
	<!-- / HEADER -->

	<!-- CONTENT -->
	<div class="content">

		<div>
			<funcionarios-header [funcionario]="itemFuncionario"></funcionarios-header>

			<mat-tab-group animationDuration="0ms" [selectedIndex]="5" (selectedTabChange)="tabChangeHandle($event)">

				<mat-tab label="Datos básicos">
				</mat-tab>
				<mat-tab label="Información familiar">
				</mat-tab>
				<mat-tab label="Estudios realizados">
				</mat-tab>
				<mat-tab label="Experiencia laboral">
				</mat-tab>
				<mat-tab label="Contratos">
				</mat-tab>

				<!-- Documentos -->
				<mat-tab label="Documentos">

					<form [formGroup]="form" *ngIf="form" (ngSubmit)="guardarHandle($event)">

						<div>
							<div fxFlex="100" class="pb-24 text-center">
								<label>Archivo o documento</label>
								<input type="file" formControlName="file" accept=".pdf" (change)="fileInputHandle($event)" required>
								<mat-icon matSuffix matTooltip="El formato del archivo debe ser PDF.">
									info
								</mat-icon>
								<div *ngIf="form.get('file').invalid && (form.get('file').dirty || form.get('file').touched)">
									<mat-error *ngFor="let error of objToArray(form.get('file').errors)">
										<div [ngSwitch]="error">
											<ng-template [ngSwitchCase]="'required'">
												Requerido
											</ng-template>
											<ng-template ngSwitchDefault>
												{{error}}
											</ng-template>
										</div>
									</mat-error>
								</div>
							</div>

						</div>

						<div>
							<mat-form-field appearance="outline">
								<mat-label>Tipo de soporte</mat-label>
								<mat-select formControlName="tipoSoporteId" required>
									<mat-option></mat-option>
									<mat-option *ngFor="let item of tipoSoportes" [value]="item.id">
										{{item.nombre}}
									</mat-option>
								</mat-select>
								<mat-error *ngFor="let error of objToArray(form.get('tipoSoporteId').errors)">
									<div [ngSwitch]="error">
										<ng-template [ngSwitchCase]="'required'">
											Requerido
										</ng-template>
										<ng-template ngSwitchDefault>
											{{error}}
										</ng-template>
									</div>
								</mat-error>
								<mat-icon matSuffix matTooltip="Tipo de soporte del funcionario.">info
								</mat-icon>
							</mat-form-field>
						</div>

						<div>
							<mat-form-field appearance="outline">
								<mat-label>Comentario</mat-label>
								<textarea matInput formControlName="comentario"></textarea>
								<mat-error *ngFor="let error of objToArray(form.get('comentario').errors)">
									<div [ngSwitch]="error">
										<ng-template [ngSwitchCase]="'required'">
											Requerido
										</ng-template>
										<ng-template ngSwitchDefault>
											{{error}}
										</ng-template>
									</div>
								</mat-error>
								<mat-icon matSuffix matTooltip="Descripción breve del documento.">info
								</mat-icon>
							</mat-form-field>
						</div>

						<div class="actions">
							<a mat-raised-button
								routerLink="/administracion-personal/funcionarios/{{itemFuncionario.id}}/mostrar"
								[queryParams]="{tab: 5}">
								<mat-icon>cancel</mat-icon>
								<span>Cancelar</span>
							</a>
							<button type="submit" mat-raised-button [disabled]="form.invalid || submit" color="accent">
								<mat-icon>save</mat-icon>
								<span>Guardar</span>
							</button>
						</div>
					</form>

				</mat-tab>
				<!--/ Documentos -->
				 <mat-tab label="Retefuente"></mat-tab>
			</mat-tab-group>
		</div>
	</div>

</div>