gastos-viaje-listar{
    @import "src/@alcanos/scss/alcanos-v2";

    .padding-r19 {
        padding-right: 19px !important;
    }

    .text-success{
        color: green;
    }

    .text-danger{
        color: red;
    }

    .mat-column-valor,
    th .mat-column-valor {
        text-align: right !important;
        span {
            padding-right: 30px;
        }
        .mat-sort-header-container {
            justify-content: flex-end;
            padding-right: 10px;
        }
    }
}
