pagina-reportes-crear {
    @import "src/@alcanos/scss/alcanos-v2";
    .mat-option {
        margin-left: 20px;
    }

    .mat-option.categoria-option {
        background: #eee !important;
        margin-left: 0px !important;
        font-weight: bold;
    }
}
