cargos-editar {
    @import "src/@alcanos/scss/alcanos-v2";

    .text-success {
        color: green;
    }

    .text-danger {
        color: red;
    }

    table {
        .margen {
            padding-left: 24px !important;
        }
        .tamanio {
            padding-bottom: 15px !important;
            padding-top: 15px !important;
        }
    }
}
