vacaciones-mostrar-libro {

   @import "src/@alcanos/scss/alcanos-v2";

   table {
      .mat-column-diasTrabajados {
        max-width: 120px;
      }
      td.mat-column-diasTrabajados {
        text-align: right;
        padding-right: 28px;
      }
      .mat-column-diasCausados {
        max-width: 110px;
      }
      td.mat-column-diasCausados {
        text-align: right;
        padding-right: 28px;
      }
      .mat-column-diasDisponibles {
         max-width: 120px;
       }
       td.mat-column-diasDisponibles {
         text-align: right;
         padding-right: 28px;
       }
    }

   .dr {
      text-align: right;
  }

}
