actividades-listar-cargo {

    @import "src/@alcanos/scss/alcanos-v2";

    table {
        width: 100%;
    }

    table.simple td {
        padding: 0px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 24px !important;
            padding-right: 24px !important;
    }

    .secundaria {
        background-color: #028696 !important;
        color: white !important;
    }

    table.simple thead td {
        padding: 0px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 24px !important;
            padding-right: 24px !important;
    }

    .btn-filter {
        position: fixed;
        right: 0px;
        z-index: 999;
        top: 45%;
        .mat-icon-button {
            background-color: #066f77 !important;
            color: white;
            padding: 0;
            min-width: 0;
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            line-height: 40px;
            /* border-radius: 50%; */
            border-radius: 10px 0px 0px 10px;
        }
    }  
    
    .pointer{
        cursor: pointer;
    }
   
}
