contratos-listar {
    @import "src/@alcanos/scss/alcanos-v2";

    table {
        width: 100%;
        .mat-column-codigo {
            max-width: 70px;
        }
        .mat-column-nombre {
            max-width: 150px;
        }
    }
    .max-width-primario {
        max-width: 160px !important;
    }
}
