<div class="page-layout simple fullwidth cargos-listar">

    <!-- HEADER -->
    <div class="header">
        <div>
            <div class="breadcrumb">
                <mat-icon class="mat-icon24" color="accent">home</mat-icon>
                <mat-icon>chevron_right</mat-icon>
                <span>Reportes</span>
                <mat-icon>chevron_right</mat-icon>
                <a routerLink="/reportes/administracion-personal/dashboard">Administracion de personal</a>
                <mat-icon>chevron_right</mat-icon>
                <span>Generar reporte prórroga de contratos a término fijo</span>
            </div>
            <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <h2 class="title">Generar reporte prórroga de contratos a término fijo</h2>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <div class="spiner" *ngIf="espera">
        <mat-spinner></mat-spinner>
    </div>
    <!-- CONTENT -->
    <div class="content">
        <div>
            <form (ngSubmit)="guardarHandle($event)" name="form" [formGroup]="form">

                <mat-form-field appearance="outline">
                    <mat-label>Tipo de contrato a término fijo</mat-label>
                    <mat-select formControlName="tipoContratoTerminoFijo" required multiple>
                        <mat-option disabled></mat-option>
                        <mat-option *ngFor="let item of getTipoContratosOptions" [value]="item.id">
                            {{ item.nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngFor=" let error of form.get('tipoContratoTerminoFijo').errors | keyvalue ">
                        <div [ngSwitch]="error.key">
                            <ng-template [ngSwitchCase]="'required'">
                                Requerido
                            </ng-template>
                            <ng-template ngSwitchDefault>
                                {{ error.key }}
                            </ng-template>
                        </div>
                    </mat-error>
                    <mat-icon matSuffix
                        matTooltip="Tipo de contrato a término fijo sobre el cual se desea generar el reporte.">
                        info
                    </mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Número de prórrogas mayor o igual a...</mat-label>
                    <input type="number" matInput formControlName="numeroProrroga" required>
                    <mat-error *ngFor="let error of form.get('numeroProrroga').errors | keyvalue">
                        <div [ngSwitch]="error.key">
                            <ng-template [ngSwitchCase]="'required'">
                                Requerido
                            </ng-template>
                            <ng-template ngSwitchDefault>
                                {{error.key}}
                            </ng-template>
                        </div>
                    </mat-error>
                    <mat-icon matSuffix
                        matTooltip="Indica el número de prórrogas de los contratos sobre las que se desea generar el reporte.">
                        info
                    </mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Centro operativo </mat-label>
                    <mat-select formControlName="centroOperativo" multiple>
                        <mat-option disabled></mat-option>
                        <mat-option *ngFor="let item of getCentroOperativoOptions" [value]="item.id">
                            {{ item.nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngFor=" let error of form.get('centroOperativo').errors | keyvalue ">
                        <div [ngSwitch]="error.key">
                            <ng-template [ngSwitchCase]="'required'">
                                Requerido
                            </ng-template>
                            <ng-template ngSwitchDefault>
                                {{ error.key }}
                            </ng-template>
                        </div>
                    </mat-error>
                    <mat-icon matSuffix matTooltip="Centro operativo del cual se desea generar el reporte.">
                        info
                    </mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Dependencia </mat-label>
                    <mat-select formControlName="dependencia" multiple>
                        <mat-option disabled></mat-option>
                        <mat-option *ngFor="let item of getDependenciaOptions" [value]="item.id">
                            {{ item.nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngFor=" let error of form.get('dependencia').errors | keyvalue ">
                        <div [ngSwitch]="error.key">
                            <ng-template [ngSwitchCase]="'required'">
                                Requerido
                            </ng-template>
                            <ng-template ngSwitchDefault>
                                {{ error.key }}
                            </ng-template>
                        </div>
                    </mat-error>
                    <mat-icon matSuffix matTooltip="Dependencia de la cual se desea generar el reporte.">
                        info
                    </mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Cargo</mat-label>
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let cargo of cargos;let indx=index;" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(cargo,indx)">
                            {{cargo.nombre}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Nuevo cargo..." #CargoInput formControlName="cargo" [matAutocomplete]="auto"
                            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <!--[matChipInputAddOnBlur]="addOnBlur"-->
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let cargo of filteredCargos | async" [value]="cargo">
                            {{cargo.nombre}}
                        </mat-option>
                    </mat-autocomplete>

                    <mat-error *ngFor="let error of form.get('cargo').errors | keyvalue">
                        <div [ngSwitch]="error.key">
                            <ng-template [ngSwitchCase]="'required'">
                                Requerido
                            </ng-template>
                            <ng-template ngSwitchDefault>
                                {{error.key}}
                            </ng-template>
                        </div>
                    </mat-error>
                    <mat-icon matSuffix matTooltip="Cargo del cual se desea generar el reporte.">info
                    </mat-icon>
                </mat-form-field>


                <div class="actions">
                    <a mat-raised-button routerLink="/reportes/administracion-personal/dashboard">
                        <mat-icon>cancel</mat-icon>
                        <span>Cancelar</span>
                    </a>

                    <button mat-raised-button type="submit" [disabled]="form.invalid || submit" color="accent">
                        <mat-icon>save_alt</mat-icon>
                        <span>Generar</span>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>