<form [formGroup]="form" *ngIf="form" (ngSubmit)="guardarHandle($event)">
    <h1 mat-dialog-title>Revisar hoja de vida</h1>
    <div mat-dialog-content fusePerfectScrollbar>

        <mat-form-field appearance="outline">
            <mat-label>¿El candidato es competente?</mat-label>
            <mat-select formControlName="estado" required [compareWith]="compareBooleanWith">
                <mat-option [value]="null"></mat-option>
                <mat-option [value]="'Competente'">Si</mat-option>
                <mat-option [value]="'Descartado'">No</mat-option>
            </mat-select>
            <mat-error *ngFor="let error of objToArray(form.get('estado').errors)">
                <div [ngSwitch]="error">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Indica si el candidato cumple con el perfil del cargo.">info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Justificación</mat-label>
            <textarea matInput formControlName="justificacion"></textarea>
            <mat-error *ngFor="let error of objToArray(form.get('justificacion').errors)">
                <div [ngSwitch]="error">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Breve descripción de la acción realizada.">
                info</mat-icon>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="dialogRef.close() ">
            <mat-icon>cancel</mat-icon>
            <span>Cancelar</span>
        </button>
        <button mat-raised-button type="submit" [disabled]="form.invalid || submit" color="accent">
            <mat-icon>save</mat-icon>
            <span>Guardar</span>
        </button>
    </div>
</form>