alcanos-empty-list {
    .empty {
        width: 100%;
        text-align: center;
        img {
            align-content: center;
            max-width: 500px;
        }
        h1 {
            font-weight: bold;
        }
    }
}