changeLogFile: dbchangelog.xml
  url: jdbc:sqlserver://172.16.1.26:1433;database=NOMINA-DESARROLLO;
  username: NominaDesarrollo
  password: OBEy5wSbRi
  driver: com.microsoft.sqlserver.jdbc.SQLServerDriver
  classpath: C:\\JDBC\\sqljdbc_6.0\\esn\\jre8