@import "src/@alcanos/scss/alcanos-modal";
distribucion-costos-mostrar {
    @import "src/@alcanos/scss/alcanos-v2";
    .area {
        border: 1px inset #ccc;
        background-color: #000000;
        width: 100%;
        height: 250px;
        font-size: 17px;
        color: white;
        overflow: auto;
    }
    .numero {
        color: #a4e899;
        margin: 5px;
        padding-right: 5px;
    }
    .operador {
        color: white;
        margin: 5px;
        padding-right: 5px;
    }
    .condicional {
        color: #ffb0cd;
        font-weight: bold;
        margin: 5px;
        padding-right: 5px;
    }
    .funcion {
        color: #fad773;
        font-weight: bold;
        margin: 5px;
        padding-right: 5px;
    }
    .agrupador {
        color: white;
        margin: 5px;
        padding-right: 5px;
    }
    .concepto {
        color: #a1e0ff;
        padding: 1px;
        padding-right: 5px;
    }
    .mat-dialog-content {
        width: 100%;
    }
}
