<!-- CONTENT -->

<div class="btn-filter">
    <button class="mat-icon-button" (click)="filtroHandle($event)">
        <span class="mat-button-wrapper">
            <mat-icon matTooltip="Filtrar" aria-hidden="true">
                filter_list
            </mat-icon>
        </span>
    </button>
</div>


<div>

    <div>

        <alcanos-empty-list (fnCreate)="cuentaHandle($event)"
            labelH1="¡Uy! Aún no has registrado cuentas contables para este concepto." labelBtn="Crear cuenta contable"
            [visibleBtnCreate]="mostrarBtnCrear" [visible]="!hasFilter && !dataLength && !dataRequest">
        </alcanos-empty-list>

        <alcanos-empty-filter (fnClear)="limpiarHandle($event)" (fnFilter)="filtroHandle($event)"
            [visible]="hasFilter && !dataLength && !dataRequest">
        </alcanos-empty-filter>



        <div [hidden]="!dataLength" class="box-shadow">
            <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear matSortDirection="desc"
                [@animateStagger]="{value:'50'}">

                <!-- Columna N° contrato -->
                <ng-container matColumnDef="centroCosto/nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre centro de costo</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.centroCosto">
                            <p class="text-truncate alias"> {{element.centroCosto?.nombre}}</p>
                        </div>
                        <div *ngIf="!element.centroCosto">N/A </div>
                    </td>
                </ng-container>

                <!-- Columna N° documento -->
                <ng-container matColumnDef="centroCosto/id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código centro de costo</th>
                    <td mat-cell *matCellDef="let element">{{element.centroCosto?.codigo}} </td>
                </ng-container>

                <!-- Columna funcionario -->
                <ng-container matColumnDef="cuentaContableId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta contable</th>
                    <td mat-cell *matCellDef="let element"> {{element.cuentaContable?.cuenta}} </td>
                </ng-container>

                <!-- Columna naturaleza -->
                <ng-container matColumnDef="cuentaContable/naturaleza">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Naturaleza</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.cuentaContable?.naturaleza == 'Debito' ? 'Débito': 'Crédito' }} </td>
                </ng-container>

                <!-- Columna activo -->
                <!-- <ng-container matColumnDef="estadoRegistro">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 20px;">Activo</th>
                    <td mat-cell *matCellDef="let element" style="width: 100px">
                       
                        <button mat-icon-button
                            [matTooltip]="arrayPermisos.estadoRegistro && element.estado !== 'Activo' ? ( element.cuentaContable?.estadoRegistro == 'Activo' ? 'Inactivar': 'Activar' ) : null "
                            (click)="arrayPermisos.estadoRegistro && element.estado !== 'Activo' ? activarHandle($event, element) : null">
                            <mat-icon *ngIf="element.cuentaContable?.estadoRegistro == 'Activo'" class="s-20"
                                [ngStyle]="{'color':'green'}">check</mat-icon>
                            <mat-icon *ngIf="element.cuentaContable?.estadoRegistro != 'Activo'" class="s-20"
                                [ngStyle]="{'color':'red'}">close</mat-icon>
                        </button>
                    </td>
                </ng-container> -->

                <!-- Columna activo -->
                <ng-container matColumnDef="estadoRegistro">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button
                        [matTooltip]="arrayPermisos.estadoRegistro && element.estado !== 'Activo' ? ( element.estadoRegistro == 'Activo' ? 'Inactivar': 'Activar' ) : null "
                        (click)="arrayPermisos.estadoRegistro && element.estado !== 'Activo' ? activarHandle($event, element) : null">
                            <mat-icon *ngIf="element.estadoRegistro == 'Activo'" class="s-20"
                                [ngStyle]="{'color':'green'}">check</mat-icon>
                            <mat-icon *ngIf="element.estadoRegistro != 'Activo'" class="s-20"
                                [ngStyle]="{'color':'red'}">close</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <ng-container matColumnDef="acciones" class="text-center">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"
                        [ngStyle]="{ display: (mostrarBtnCrear) && ( arrayPermisos.actualizar ) ? '': 'none'}"> Acciones
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center"
                        [ngStyle]="{ display: (mostrarBtnCrear) && ( arrayPermisos.actualizar ) ? '': 'none'}">
                        <button *ngIf="arrayPermisos.actualizar && (mostrarBtnCrear)" mat-icon-button
                            matTooltip="Editar" (click)="cuentaEditarHandle($event, element)">
                            <mat-icon class="s-20">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="dataLength" [pageSizeOptions]="[5, 10, 25]" [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
        </div>


    </div>

</div>
<!-- / CONTENT -->