vacaciones-listar {
  @import "src/@alcanos/scss/alcanos-v2";

  table {
    .mat-column-periodosPendientes {
      max-width: 110px;
    }
    td.mat-column-periodosPendientes {
      text-align: right;
      padding-right: 60px;
    }
    .mat-column-diasPendientes {
      max-width: 110px;
    }
    td.mat-column-diasPendientes {
      text-align: right;
      padding-right: 88px;
    }
  }
  
}
