<!-- CONTENT -->

<div class="btn-filter">
    <button class="mat-icon-button" (click)="filtroHandle($event)">
        <span class="mat-button-wrapper">
            <mat-icon matTooltip="Filtrar" aria-hidden="true">
                filter_list
            </mat-icon>
        </span>
    </button>
</div>


<div>

    <div>

        <alcanos-empty-list
            labelH1="¡Uy! Aún no has registrado cuentas contables para este concepto." labelBtn="Crear cuenta contable"
            [visibleBtnCreate]="false" [visible]="!hasFilter && !dataLength && !dataRequest">
        </alcanos-empty-list>

        <alcanos-empty-filter (fnClear)="limpiarHandle($event)" (fnFilter)="filtroHandle($event)"
            [visible]="hasFilter && !dataLength && !dataRequest">
        </alcanos-empty-filter>


        <div [hidden]="!dataLength" class="box-shadow">
            <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear matSortDirection="desc"
                [@animateStagger]="{value:'50'}">

                <!-- Columna Centro de costo -->
                <ng-container matColumnDef="actividadCentroCosto/centroCosto/nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Centro de costo</th>
                    <td mat-cell *matCellDef="let element">{{element.actividadCentroCosto.centroCosto?.codigo}} {{element.actividadCentroCosto.centroCosto?.nombre}} </td>
                </ng-container>

                <!-- Columna Cantidad -->
                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                    <td mat-cell *matCellDef="let element">{{element.cantidad}} </td>
                </ng-container>

                <!-- Columna Porcentaje -->
                <ng-container matColumnDef="porcentaje">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</th>
                    <td mat-cell *matCellDef="let element"> {{ ( element.porcentaje ) | percent}} </td>
                </ng-container>

                
                 <!-- Columna Fecha de corte -->
                 <ng-container matColumnDef="fechaCorte">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de corte</th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaCorte | date:'dd / LL / yyyy'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="dataLength" [pageSizeOptions]="[5, 10, 25]" [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
        </div>


    </div>

</div>
<!-- / CONTENT -->