centro-costos-listar {
    @import "src/@alcanos/scss/alcanos-v2";

    .btn-filter {
        position: fixed;
        right: 0px;
        z-index: 999;
        top: 45%;
        .mat-icon-button {
            background-color: #066f77 !important;
            color: white;
            padding: 0;
            min-width: 0;
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            line-height: 40px;
            /* border-radius: 50%; */
            border-radius: 10px 0px 0px 10px;
        }
    }

    .alias {
        width: 150px !important;
    }

    .cdk-column-cantidad {
        text-align: right !important;
        width: 15%;
        padding-right: 5% !important;
        justify-content: end !important;
    }
    .cdk-column-porcentaje {
        text-align: right !important;
        width: 15%;
        padding-right: 5% !important;
        justify-content: end !important;
    }
}
