funcionarios-mostrar {
    @import "src/@alcanos/scss/alcanos-v2";

    table {
        width: 100%;
        .mat-column-acciones {
            min-width: 70px !important;
        }
        .mat-column-nombreCargo {
            min-width: 70px !important;
        }
        .mat-column-empresa {
            min-width: 70px !important;
        }
        .mat-column-telefono {
            min-width: 70px !important;
        }
        .mat-column-nombre {
            min-width: 200px !important;
        }
        .mat-column-apellido {
            min-width: 200px !important;
        }
        .mat-column-parentesco {
            min-width: 150px !important;
        }
        .mat-column-celular {
            min-width: 100px !important;
        }
        .mat-column-nivelEducativo {
            min-width: 200px !important;
        }
        .mat-column-titulo {
            min-width: 200px !important;
        }

        .mat-column-tipoContrato {
            min-width: 70px !important;
        }
        .mat-column-fechaInicio {
            min-width: 100px !important;
        }
        .mat-column-fechaFin {
            min-width: 100px !important;
        }
        .mat-column-fechaFinalizacion {
            min-width: 70px !important;
        }

        th.mat-column-interesVivienda {
            text-align: right;
            padding-right: 48px;
        }

        td.mat-column-interesVivienda {
            text-align: right;
            padding-right: 48px;
        }

        th.mat-column-medicinaPrepagada {
            text-align: right;
            padding-right: 48px;
        }

        td.mat-column-medicinaPrepagada {
            text-align: right;
            padding-right: 48px;
        }
    }
}
