otra-novedades-formulario {
    @import "src/@alcanos/scss/alcanos-v2";
    .medio-bloque {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center flex-start;
        align-items: center;
        flex: 1 0 auto;
        mat-form-field {
            flex: 1 1 100%;
            box-sizing: border-box;
            max-width: 50%;
        }
        mat-form-field:first-child {
            padding-bottom: 12px;
            padding-right: 12px;
        }
    }
}
