<div class="overlay" *ngIf="spinner">
    <mat-spinner class="spinner-wrapper"></mat-spinner>
</div>
<form [formGroup]="form" *ngIf="form" (ngSubmit)="guardarHandle($event)">
	<h1 mat-dialog-title>Crear año de trabajo</h1>
	<div mat-dialog-content fusePerfectScrollbar>

		<mat-form-field appearance="outline">
			<mat-label>Año</mat-label>
			<input matInput formControlName="anno" required>
			<mat-error *ngFor="let error of objToArray(form.get('anno').errors)">
				<div [ngSwitch]="error">
					<ng-template [ngSwitchCase]="'required'">
						Requerido
					</ng-template>
					<ng-template [ngSwitchCase]="'max'">
						Valor máximo 5000.
					</ng-template>
					<ng-template [ngSwitchCase]="'min'">
						Valor mínimo 1000.
					</ng-template>
					<ng-template ngSwitchDefault>
						{{error}}
					</ng-template>
				</div>
			</mat-error>
			<mat-icon matSuffix matTooltip="Vigencia en la que se efectúa el ingreso de la información.">info</mat-icon>
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button mat-raised-button type="button" (click)="dialogRef.close() ">
			<mat-icon>cancel</mat-icon>
			<span>Cancelar</span>
		</button>
		<button mat-raised-button type="submit" [disabled]="form.invalid || submit" color="accent">
			<mat-icon>save</mat-icon>
			<span>Guardar</span>
		</button>
	</div>
</form>