@import "src/@alcanos/scss/alcanos-modal";

anno-trabajo-crear {
    @import "src/@alcanos/scss/alcanos-v2";
    .spinner-wrapper{
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 1099;
    }
}