@import "src/@alcanos/scss/alcanos-modal";

jornada-laboral-dia-crear {
    @import "src/@alcanos/scss/alcanos-v2";

    .oculto {
        max-width: 300px !important;
        width: 300px;
        overflow: hidden;
    }

    .mat-input-element[type="time" i] {
        display: block !important;
        position: relative !important;
        max-width: 320px !important;
        width: 320px !important;
    }
}
