cargos-listar {
    @import "src/@alcanos/scss/alcanos-v2";
    width: 100%;
    table {
        width: 100%;
        .mat-column-nombre {
            max-width: 150px;
        }
    }

    .text-success {
        color: green;
    }

    .text-danger {
        color: red;
    }

    .max-width-list {
        max-width: 180px;
    }
}
