
.error-snackbar {
    background: #e2564b !important;
    color: rgba($color: #fff, $alpha: 1) !important;
    button {
        color: rgba($color: #fff, $alpha: 1) !important;
    }
}
.exito-snackbar {
    background: #6e992e !important;
    color: rgba($color: #fff, $alpha: 1) !important;
    button {
        color: rgba($color: #fff, $alpha: 1) !important;
    }
}
.informativo-snackbar {
    background: #007cc0 !important;
    color: rgba($color: #fff, $alpha: 1) !important;
    button {
        color: rgba($color: #fff, $alpha: 1) !important;
    }
}
.advertencia-snackbar {
    background: #ef6100 !important;
    color: rgba($color: #fff, $alpha: 1) !important;
    button {
        color: rgba($color: #fff, $alpha: 1) !important;
    }
}