candidatos-listar {
    @import "src/@alcanos/scss/alcanos-v2";

    .btn-filter {
        position: fixed;
        right: 0px;
        z-index: 999;
        top: 45%;
        .mat-icon-button {
            background-color: #066f77 !important;
            color: white;
            padding: 0;
            min-width: 0;
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            line-height: 40px;
            /* border-radius: 50%; */
            border-radius: 10px 0px 0px 10px;
        }
    }

    .box-shadow {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
            0px 8px 10px 1px rgba(0, 0, 0, 0.14),
            0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
}
