<div class="page-layout simple fullwidth cargos-listar">

    <!-- HEADER -->
    <div class="header">
        <div>
            <div class="breadcrumb">
                <mat-icon class="mat-icon24" color="accent">home</mat-icon>
                <mat-icon>chevron_right</mat-icon>
                <span>Configuración general</span>
                <mat-icon>chevron_right</mat-icon>
                <a routerLink="/configuracion/dashboard">Catálogos</a>
                <mat-icon>chevron_right</mat-icon>
                <a routerLink="/configuracion/tipo-embargos">Tipos de embargo</a>
                <mat-icon>chevron_right</mat-icon>
                <span>Crear tipo de embargo</span>
            </div>
            <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <h2 class="title">Crear tipo de embargo</h2>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button  color="accent" class="acciones" mat-button [matMenuTriggerFor]="menu">
                <mat-icon>add</mat-icon>
                <span>Acciones</span>
            </button>
            <mat-menu #menu="matMenu">
                <a routerLink="/configuracion/tipo-embargos" mat-menu-item>Volver</a>
            </mat-menu>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <div class="box-shadow">

            <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTab">
                <!-- Primer Label -->
                <mat-tab label="Información">
                    <!-- Formulario -->

                    <form (ngSubmit)="guardarHandle($event)" name="form" [formGroup]="form">

                        <div class="dos-bloque">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre" required>
                                <mat-error *ngFor="let error of objToArray(nombre.errors)">
                                    <div [ngSwitch]="error">
                                        <ng-template [ngSwitchCase]="'required'">
                                            Requerido
                                        </ng-template>
                                        <ng-template ngSwitchDefault>
                                            {{error}}
                                        </ng-template>
                                    </div>
                                </mat-error>
                                <mat-icon matSuffix matTooltip="Nombre del tipo de embargo.">info
                                </mat-icon>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>¿El SMMLV es embargable?</mat-label>
                                <mat-select formControlName="salarioMinimoEmbargable" required>
                                    <mat-option></mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Si</mat-option>
                                </mat-select>
                                <mat-error *ngFor="let error of objToArray(salarioMinimoEmbargable.errors)">
                                    <div [ngSwitch]="error">
                                        <ng-template [ngSwitchCase]="'required'">
                                            Requerido
                                        </ng-template>
                                        <ng-template ngSwitchDefault>
                                            {{error}}
                                        </ng-template>
                                    </div>
                                </mat-error>
                                <mat-icon matSuffix
                                    matTooltip="Indica si el SMMLV aplica para ser embargado según el tipo de embargo.">
                                    info</mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="dos-bloque">

                            <mat-form-field appearance="outline">
                                <mat-label>Concepto de descuento</mat-label>
                                <mat-select formControlName="conceptoNominaId" step="any" required>
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let item of conceptoNomina" [value]="item.id">
                                        {{ item.nombre }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngFor="let error of objToArray(conceptoNominaId.errors)">
                                    <div [ngSwitch]="error">
                                        <ng-template [ngSwitchCase]="'required'">
                                            Requerido
                                        </ng-template>
                                        <ng-template ngSwitchDefault>
                                            {{error}}
                                        </ng-template>
                                    </div>
                                </mat-error>
                                <mat-icon matSuffix matTooltip="Concepto de descuento relacionado al tipo de embargo.">
                                    info</mat-icon>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Prioridad</mat-label>
                                <input matInput formControlName="prioridad" required>
                                <mat-error *ngFor="let error of objToArray(prioridad.errors)">
                                    <div [ngSwitch]="error">
                                        <ng-template [ngSwitchCase]="'required'">
                                            Requerido
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="'max'">
                                            Valor máximo {{ prioridad.errors.max.max }}.
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="'min'">
                                            Valor mínimo {{ prioridad.errors.min.min }}.
                                        </ng-template>
                                        <ng-template ngSwitchDefault>
                                            {{error}}
                                        </ng-template>
                                    </div>
                                </mat-error>
                                <mat-icon matSuffix matTooltip="Prioridad del tipo de embargo.">
                                    info</mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="actions">
                            <a mat-raised-button routerLink="/configuracion/tipo-embargos"
                                routerLinkActive="router-link-active">
                                <mat-icon>cancel</mat-icon>
                                <span>Cancelar</span>
                            </a>
                            <button mat-raised-button [disabled]="form.invalid || submit" type="submit" color="accent">
                                <mat-icon>save</mat-icon>
                                <span>Guardar</span>
                            </button>
                        </div>
                    </form>
                    <!-- / Formulario -->
                </mat-tab>
                <!-- / Primer Label -->

                <!-- Segundo Label -->
                <mat-tab label="Conceptos a embargar" [disabled]="true"></mat-tab>
                <!-- / Segundo Label -->

            </mat-tab-group>

        </div>

    </div>