<form [formGroup]="form" *ngIf="form" (ngSubmit)="buscarHandle($event)">

	<mat-toolbar class="toolbar-filter">
		<mat-toolbar-row>
			<h1 mat-dialog-title>Filtro</h1>
			<button type="button" mat-icon-button (click)="dialogRef.close()">
				<mat-icon>close</mat-icon>
			</button>
		</mat-toolbar-row>
	</mat-toolbar>
	<div mat-dialog-content fusePerfectScrollbar>


		<mat-form-field appearance="outline">
			<mat-label>Funcionario</mat-label>
			<input matInput placeholder="" formControlName="funcionario" type="text">
			<mat-error *ngFor="let error of form.get('funcionario').errors | keyvalue">
				<div [ngSwitch]="error.key">
					<ng-template [ngSwitchCase]="'required'">
						Requerido.
					</ng-template>
					<ng-template ngSwitchDefault>
						{{error.key}}
					</ng-template>
				</div>
			</mat-error>
			<mat-icon matSuffix matTooltip="Trabajador que labora en la compañía.">
				info</mat-icon>
		</mat-form-field>



		<mat-form-field appearance="outline">
			<mat-label>Tipo administradora </mat-label>
			<mat-select formControlName="tipoAdministradora">
				<mat-option [value]='null'></mat-option>
				<mat-option *ngFor="let item of tipoAdministradoras" [value]="item.id">
					{{item.codigo}} - {{item.nombre}}
				</mat-option>
			</mat-select>
			<mat-error *ngFor="let error of form.get('tipoAdministradora').errors | keyvalue">
				<div [ngSwitch]="error.key">
					<ng-template [ngSwitchCase]="'required'">
						Requerido.
					</ng-template>
					<ng-template ngSwitchDefault>
						{{error.key}}
					</ng-template>
				</div>
			</mat-error>
			<mat-icon matSuffix matTooltip="Seleccione si la Administradora es EPS, Caja de Compensación, Fondo de Pensiones o ARL">info
			</mat-icon>
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button mat-raised-button type="button" (click)="limpiarHandle($event)">
			<mat-icon>cancel</mat-icon>
			<span>Borrar filtros</span>
		</button>
		<button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
			<mat-icon>search</mat-icon>
			<span>Buscar</span>
		</button>
	</div>
</form>