@import "src/@alcanos/scss/alcanos-modal";

datos-aprobar {
    @import "src/@alcanos/scss/alcanos-v2";
    // Truncate
    .text-truncate {
        max-width: 250px !important;
        display: block !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .identificacion{
        min-width: 110px;
    }
}
