card-data {
    .azul-alcanos {
        color: #004693 !important;
    }
    .salmon-alcanos {
        color: #ee564c !important;
    }

    .purpura-alcanos {
        color: #8822a0 !important;
    }

    .menta-alcanos {
        color: #3fd195 !important;
        padding-left: 30px;
        padding-right: 30px;
    }

    .line-height-20 {
        margin: 0 0 14px;
    }

    .card-hover:hover {
        background-color: rgba(200, 200, 200, 0.1);
        cursor: pointer;
    }

    @media (max-width: 1440px) {
        .line-height-72 {
            line-height: 52px;
        }

        .font-size-72 {
            font-size: 48px;
        }

        .mat-display-2,
        .mat-typography .mat-display-2 {
            font: 400 30px/50px Muli, Helvetica Neue, Arial, sans-serif;
            letter-spacing: -0.005em;
            margin: 0 0 18px;
        }

        .h3{
            text-align: center;
        }
    }
}
