<form [formGroup]="form" *ngIf="form" (ngSubmit)="buscarHandle($event)">
    <mat-toolbar class="toolbar-filter">
        <mat-toolbar-row>
            <h1 mat-dialog-title>Filtro</h1>
            <button type="button" mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Número de documento</mat-label>
            <input matInput formControlName="numeroDocumento">
            <mat-error *ngFor="let error of objToArray(numeroDocumento.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Número de identificación del candidato.">info</mat-icon>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label> Primer nombre</mat-label>
            <input matInput formControlName="primerNombre">
            <mat-error *ngFor="let error of objToArray(primerNombre.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Primer nombre del candidato.">info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Segundo nombre</mat-label>
            <input matInput formControlName="segundoNombre">
            <mat-error *ngFor="let error of objToArray(segundoNombre.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Segundo nombre del candidato.">info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Primer apellido</mat-label>
            <input matInput formControlName="primerApellido">
            <mat-error *ngFor="let error of objToArray(primerApellido.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Primer apellido del candidato.">info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Segundo apellido</mat-label>
            <input matInput formControlName="segundoApellido">
            <mat-error *ngFor="let error of objToArray(segundoApellido.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Segundo apellido del candidato.">info
            </mat-icon>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
                <mat-option [value]="null"></mat-option>
                <mat-option [value]="estadocandidato.competente">Competente</mat-option>
                <mat-option [value]="estadocandidato.descartado">Descartado</mat-option>
                <mat-option [value]="estadocandidato.elegible">Elegible</mat-option>
                <mat-option [value]="estadocandidato.noApto">No apto</mat-option>
                <mat-option [value]="estadocandidato.postulado">Postulado</mat-option>
                <mat-option [value]="estadocandidato.seleccionado">Seleccionado</mat-option>
            </mat-select>
            <mat-error *ngFor="let error of objToArray(estado.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Estado del candidato respecto a la convocatoria.">info
            </mat-icon>
        </mat-form-field>

    </div>

    <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="limpiarHandle($event)">
            <mat-icon>cancel</mat-icon>
            <span>Borrar filtros</span>
        </button>
        <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
    </div>
</form>