aprobar-graficos {
    @import "src/@alcanos/scss/alcanos-v2";
    
    
    .secundaria {
        background-color: #028696 !important;
        color: white !important;
    }

    .secundaria[disabled] {
        background-color: rgba(0, 0, 0, 0.12) !important;
        color: rgba(0, 0, 0, 0.26) !important;
    }

    .terciaria {
        background-color: #238e79 !important;
        color: white !important;
    }

    .ocultar {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}

.max-width-content-editable {
    max-width: 450px !important;
}

.max-width-content-confirm-editable {
    width: 400px !important;
    text-align: center;
}
