<form [formGroup]="form" *ngIf="form" (ngSubmit)="buscarHandle($event)">
    <mat-toolbar class="toolbar-filter">
        <mat-toolbar-row>
            <h1 mat-dialog-title>Filtro</h1>
            <button type="button" mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Departamento</mat-label>
            <mat-select formControlName="departamentoOrigenId">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let item of departamentosOrigen" [value]="item.id">
                    {{item.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of form.get('departamentoOrigenId').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Departamento del país  donde trabajará el funcionario.">
                info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Municipio</mat-label>
            <mat-select formControlName="municipioId">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let item of municipiosOrigen" [value]="item.id">
                    {{item.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of form.get('municipioId').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Municipio donde trabajará el funcionario.">
                info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Centro de costo</mat-label>
            <input matInput formControlName="centroCostoId" [matAutocomplete]="auto">
            <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
                <mat-option *ngFor="let item of filteredCentroCostos | async" [value]="item">
                    {{item.nombre}}
                </mat-option>
            </mat-autocomplete>
            
            <mat-error *ngFor="let error of form.get('centroCostoId').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Centro de costo que debe llevar el funcionario.">
                info
            </mat-icon>
        </mat-form-field>


    </div>

    <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="limpiarHandle($event)">
            <mat-icon>cancel</mat-icon>
            <span>Borrar filtros</span>
        </button>
        <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
    </div>
</form>