app-ayuda-home {
    mat-list-item {
        cursor: pointer;
    }
    .mat-expansion-panel-header {
        padding-left: 28px!important;
        padding-right: 32px!important;
        margin: 0px!important;
    }
    .mat-expansion-panel-body {
        background: rgba(200, 200, 200, 0.1) !important;
    }
    .work {
        margin-right: 4px;
        font-size: 20px;
    }
    .mat-list-item {
        height: auto !important;
        padding-top: 10px;
    }
}