@import "src/@alcanos/scss/alcanos-modal";

ordenar-concepto {
    @import "src/@alcanos/scss/alcanos-v2";
    .spiner {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 520px;
        height: 100%;
        z-index: 999;
    }
}