solicitud-vacaciones-listar {
    @import "src/@alcanos/scss/alcanos-v2";

    table {
        width: 100%;
        .dr {
            text-align: right;
        }
        .fecha {
            padding-right: 32px !important;
        }
        .fechaF {
            padding-right: 48px !important;
        }
        .mat-column-funcionario-numeroDocumento {
            max-width: 70px;
        }
        .mat-column-funcionario-primerNombre {
            max-width: 150px;
        }
        .mat-column-fechaInicioDisfrute {
            max-width: 90px;
        }
        .mat-column-fechaFinDisfrute {
            max-width: 90px;
        }
        .mat-column-estado {
            max-width: 60px;
        }
        .mat-column-acciones {
            max-width: 80px;
        }
    }
}
