solicitud-vacaciones-formulario {
    @import "src/@alcanos/scss/alcanos-v2";

    .pb {
        padding-bottom: 24px !important;
    }
    th.pl {
        padding-left: 12px !important;
    }

    td.p-radio {
        padding-left: 32px !important;
    }
}
