<div class="page-layout simple fullwidth inner-scroll" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header">
        <div>
            <div class="breadcrumb">
                <mat-icon class="mat-icon24" color="accent">home</mat-icon>
                <mat-icon>chevron_right</mat-icon>
                <span>Configuración general</span>
                <mat-icon>chevron_right</mat-icon>
                <a routerLink="/configuracion/dashboard">Catalogos</a>
                <mat-icon>chevron_right</mat-icon>
                <a routerLink="/configuracion/terceros">Administrar otros terceros</a>
                <mat-icon>chevron_right</mat-icon>
                <span *ngIf="item">Editar tercero</span>
                <span *ngIf="!item">Crear tercero</span>
            </div>
            <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <h2 *ngIf="item">Editar tercero</h2>
                <h2 *ngIf="!item">Crear tercero</h2>
            </div>
        </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <div>

            <form [formGroup]="form" *ngIf="form" (ngSubmit)="guardarHandle($event)">

                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                    <mat-error *ngFor="let error of form.get('nombre').errors | keyvalue">
                        <div [ngSwitch]="error.key">
                            <ng-template [ngSwitchCase]="'required'">
                                Requerido
                            </ng-template>
                            <ng-template ngSwitchDefault>
                                {{error.key}}
                            </ng-template>
                        </div>
                    </mat-error>
                    <mat-icon matSuffix matTooltip="Nombre del tercero.">info</mat-icon>
                </mat-form-field>


                <div>
                    <mat-form-field appearance="outline" fxFlex="45" class="pr-24">
                        <mat-label>Nit</mat-label>
                        <input matInput formControlName="nit" required>
                        <mat-error *ngFor="let error of form.get('nit').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Número de identificación tributario del tercero.">
                            info
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="15" class="pr-24">
                        <mat-label>DV *</mat-label>
                        <input matInput formControlName="digitoVerificacion">
                        <mat-error *ngFor="let error of form.get('digitoVerificacion').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Dígito de verificación del tercero.">info
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="45">
                        <mat-label>Departamento</mat-label>
                        <mat-select formControlName="departamentoOrigenId" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let item of departamentosOrigen" [value]="item.id">
                                {{item.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngFor="let error of form.get('departamentoOrigenId').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix
                            matTooltip="Departamento del país donde trabajará el tercero.">
                            info
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="dos-bloque">
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Municipio</mat-label>
                        <mat-select formControlName="municipioOrigenId" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let item of municipiosOrigen" [value]="item.id">
                                {{item.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngFor="let error of form.get('municipioOrigenId').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix
                            matTooltip="Municipio en el que se encuentra ubicada la oficina principal.">
                            info
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="telefono" required>
                        <mat-error *ngFor="let error of form.get('telefono').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template [ngSwitchCase]="'max'">
                                    Valor máximo 999999999999
                                </ng-template>
                                <ng-template [ngSwitchCase]="'min'">
                                    Valor mínimo 1111111
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Número telefónico de contacto del tercero.">
                            info
                        </mat-icon>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="direccion" required>
                    <mat-error *ngFor="let error of form.get('direccion').errors | keyvalue">
                        <div [ngSwitch]="error.key">
                            <ng-template [ngSwitchCase]="'required'">
                                Requerido
                            </ng-template>
                            <ng-template ngSwitchDefault>
                                {{error.key}}
                            </ng-template>
                        </div>
                    </mat-error>
                    <mat-icon matSuffix matTooltip="Dirección de trabajo del tercero.">
                        info
                    </mat-icon>
                </mat-form-field>

                <div class="dos-bloque">
                    <mat-form-field appearance="outline">
                        <mat-label>Entidad financiera</mat-label>
                        <mat-select formControlName="entidadFinancieraId" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let item of entidadFinancieras" [value]="item.id">
                                {{item.nombre.substr(0,90)}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngFor="let error of form.get('entidadFinancieraId').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Entidad financiera que recibirá el pago del tercero.">
                            info
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Tipo de cuenta</mat-label>
                        <mat-select formControlName="tipoCuentaId" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let item of tipoCuentas" [value]="item.id">
                                {{item.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngFor="let error of form.get('tipoCuentaId').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Tipo de cuenta bancaria del tercero.">
                            info
                        </mat-icon>
                    </mat-form-field>
                </div>

                
                <div class="medio-bloque">
                    <mat-form-field appearance="outline">
                        <mat-label>N° de cuenta</mat-label>
                        <input type="number" matInput formControlName="numeroCuenta" required>
                        <mat-error *ngFor="let error of form.get('numeroCuenta').errors | keyvalue">
                            <div [ngSwitch]="error.key">
                                <ng-template [ngSwitchCase]="'required'">
                                    Requerido
                                </ng-template>
                                <ng-template [ngSwitchCase]="'max'">
                                    Valor máximo 99999999999999999999
                                </ng-template>
                                <ng-template ngSwitchDefault>
                                    {{error.key}}
                                </ng-template>
                            </div>
                        </mat-error>
                        <mat-icon matSuffix matTooltip="Número de la cuenta bancaria del tercero.">
                            info
                        </mat-icon>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="descripcion"></textarea>
                    <mat-error *ngFor="let error of form.get('descripcion').errors | keyvalue">
                        <div [ngSwitch]="error.key">
                            <ng-template [ngSwitchCase]="'required'">
                                Requerido
                            </ng-template>
                            <ng-template ngSwitchDefault>
                                {{error.key}}
                            </ng-template>
                        </div>
                    </mat-error>
                    <mat-icon matSuffix matTooltip="Breve reseña acerca del tercero.">info</mat-icon>
                </mat-form-field>


                <div class="actions">
                    <a mat-raised-button routerLink="/configuracion/terceros">
                        <mat-icon>cancel</mat-icon>
                        <span>Cancelar</span>
                    </a>
                    <button type="submit" mat-raised-button [disabled]="form.invalid || submit" color="accent">
                        <mat-icon>save</mat-icon>
                        <span>Guardar</span>
                    </button>
                </div>


            </form>

        </div>

    </div>
    <!-- / CONTENT -->

</div>