<div class="page-layout simple inner-sidebar">

    <!-- HEADER -->
    <div class="header">

        <div>
            <div class="breadcrumb">
                <mat-icon routerLink="/" color="accent" class="mat-icon24 cursor-pointer">home</mat-icon>
                <mat-icon>chevron_right</mat-icon>
                <span>Configuración general</span>
                <mat-icon>chevron_right</mat-icon>
                <a routerLink="/configuracion/dashboard">Catálogos</a>
                <mat-icon>chevron_right</mat-icon>
                <span>Profesiones</span>
            </div>
            <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <h2>Profesiones</h2>
            </div>
        </div>
        <div class="actions">
            <button mat-raised-button (click)="filtroHandle($event)" [matBadge]="filterSize" matBadgePosition="before"
                [matBadgeHidden]="!hasFilter" matBadgeColor="warn">
                <mat-icon>filter_list</mat-icon>
                <span>Filtrar</span>
            </button>
            <button mat-raised-button *ngIf="arrayPermisos.crear" color="accent" (click)="crearHandle($event)">
                <mat-icon>add</mat-icon>
                <span>Crear profesión</span>
            </button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <div>
            <alcanos-empty-list [visibleBtnCreate]="arrayPermisos.crear" (fnCreate)="crearHandle($event)"
                labelH1="¡Uy! Aún no has registrado profesiones." labelBtn="Crear profesión"
                [visible]="!hasFilter && !dataLength && !dataRequest">
            </alcanos-empty-list>

            <alcanos-empty-filter (fnClear)="limpiarHandle($event)" (fnFilter)="filtroHandle($event)"
                [visible]="hasFilter && !dataLength && !dataRequest">
            </alcanos-empty-filter>


            <div [hidden]="!dataLength" class="box-shadow">
                <table mat-table #table [dataSource]="dataSource" matSort matSortDisableClear
                    [@animateStagger]="{value:'50'}">

                    <!-- Columna Nombre -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Columna activo -->
                    <ng-container matColumnDef="estadoRegistro">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon
                                    [ngClass]="element.estadoRegistro === 'Activo' ? 'text-success' : 'text-danger'"
                                    matTooltip="{{element.estadoRegistro === 'Activo' ? 'Inactivar' : 'Activar'}}"
                                    (click)="arrayPermisos.estadoRegistro && element.estado !== 'Aplicada' ? activarHandle($event, element) : null">
                                    {{element.estadoRegistro === 'Activo' ? 'check' : 'clear'}}
                                </mat-icon>

                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': !( arrayPermisos.actualizar || arrayPermisos.obtener ) ? 'none' :
                            ''}">
                            Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="1">
                                <button mat-icon-button *ngIf="arrayPermisos.actualizar"
                                    (click)="editarHandle($event, element)">
                                    <mat-icon matTooltip="Editar">edit</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]="dataLength" [pageSizeOptions]="[5, 10, 25]" [pageSize]="5"
                    showFirstLastButtons>
                </mat-paginator>
            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>