<form [formGroup]="form" *ngIf="form" (ngSubmit)="buscarHandle($event)">
    <mat-toolbar class="toolbar-filter">
        <mat-toolbar-row>
            <h1 mat-dialog-title>Filtro</h1>
            <button type="button" mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>

        <mat-form-field appearance="outline">
            <mat-label>Código</mat-label>
            <input matInput formControlName="codigo">
            <mat-error *ngFor="let error of objToArray(codigo.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Código que identifica el concepto.">info</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Alias</mat-label>
            <input matInput formControlName="alias">
            <mat-error *ngFor="let error of objToArray(alias.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Nombre identificador en la fórmula para este concepto.">info</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngFor="let error of objToArray(nombre.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Nombre que identifique el concepto de nómina.">info</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tipo de concepto</mat-label>
            <mat-select formControlName="tipoConceptoNomina">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let item of tipoConceptos" [value]="item.id">
                    {{ item.nombre }}
                </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of objToArray(tipoConceptoNomina.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Seleccione el tipo de uso de esta concepto en la nómina.">info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Clase de concepto</mat-label>
            <mat-select formControlName="claseConceptoNomina">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let item of claseConceptos" [value]="item.id">
                    {{ item.nombre }}
                </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of objToArray(claseConceptoNomina.errors)">
                <div [ngSwitch]="error">
                    <ng-template ngSwitchDefault>
                        {{error}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Seleccione la forma en la que afectará este concepto en la nómina.">info
            </mat-icon>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="limpiarHandle($event)">
            <mat-icon>cancel</mat-icon>
            <span>Borrar filtros</span>
        </button>
        <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
    </div>

</form>