annos-trabajo-listar {
    @import "src/@alcanos/scss/alcanos-v2";
    .mat-column-anno,
    th .mat-column-anno {
        text-align: right !important;
        span {
            padding-right: 30px;
        }
        .mat-sort-header-container {
            float: right;
            padding-right: 10px;
        }
    }

    .mat-column-fechaCreacion,
    th .mat-column-fechaCreacion {
        text-align: right !important;
        span {
            padding-right: 30px;
        }
        .mat-sort-header-container {
            float: right;
            padding-right: 10px;
        }
    }

    .mat-column-estado,
    th .mat-column-estado {
        text-align: center !important;
        span {
            padding-right: 30px;
        }
        .mat-sort-header-container {
            justify-content: center;
            padding-right: 10px;
        }
    }
}
