<form [formGroup]="form" *ngIf="form" (ngSubmit)="buscarHandle($event)">
    <mat-toolbar class="toolbar-filter">
        <mat-toolbar-row>
            <h1 mat-dialog-title>Filtro</h1>
            <button type="button" mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>


        <mat-form-field appearance="outline">
            <mat-label>Primer nombre</mat-label>
            <input matInput placeholder="" formControlName="primerNombre">
            <mat-error *ngFor="let error of form.get('primerNombre').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Primer nombre del aspirante.">info</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Primer apellido </mat-label>
            <input matInput placeholder="" formControlName="primerApellido">
            <mat-error *ngFor="let error of form.get('primerApellido').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Primer apellido del aspirante.">info</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Número documento </mat-label>
            <input matInput placeholder="" formControlName="numeroDocumento">
            <mat-error *ngFor="let error of form.get('numeroDocumento').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Número del documento de identificación del aspirante.">info</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="genero">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let item of generos" [value]="item.id">
                    {{item.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of form.get('genero').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Sexo del aspirante.">info
            </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ocupación</mat-label>
            <mat-select formControlName="ocupacion">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let item of ocupacionOptions" [value]="item.id">
                    {{ item.nombre }}
                </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of form.get('ocupacion').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Ocupación que desempeña el aspirante.">info</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Lugar de residencia </mat-label>
            <input matInput formControlName="direccion">
            <mat-error *ngFor="let error of form.get('direccion').errors | keyvalue">
                <div [ngSwitch]="error.key">
                    <ng-template [ngSwitchCase]="'required'">
                        Requerido
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        {{error.key}}
                    </ng-template>
                </div>
            </mat-error>
            <mat-icon matSuffix matTooltip="Dirección de la vivienda en la que reside el aspirante.">info</mat-icon>
        </mat-form-field>

    </div>

    <div mat-dialog-actions>
        <button type="button" mat-raised-button (click)="limpiarHandle($event)">
            <mat-icon>cancel</mat-icon>
            <span>Borrar filtros</span>
        </button>
        <button mat-raised-button [disabled]="form.invalid" type="submit" color="accent">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
    </div>
</form>