tipo-periodos-listar {
    @import "src/@alcanos/scss/alcanos-v2";

    .text-success {
        color: green;
    }

    .text-danger {
        color: red;
    }

    table {
        width: 100%;

        .mat-column-nombre {
            max-width: 150px;
        }

        .mat-column-pagoPorDefecto {
            max-width: 70px;
        }

        .mat-column-acciones {
            max-width: 50px;
        }
    }
}
