changeLogFile: dbchangelog.xml
  url: jdbc:sqlserver://172.16.1.26:1433;database=PRUEBAS;
  username: usuario_bd
  password: password_bd
  driver: com.microsoft.sqlserver.jdbc.SQLServerDriver
  classpath: C:\\liquibase-3.8.5\\drivers\\sqljdbc_7.4\\esn\\mssql-jdbc-7.4.1.jre8.jar