recuperar-form {
    @import "src/@alcanos/scss/alcanos-v2";

    .title{
        font-size: 30px;
        padding: 24px;
        padding-top: 0 !important;
        padding-left: 0 !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .text_checkbox_icon{
        margin-left: 15px;
    }

    .text-center{
        text-align: center;
    }

    .register_button{
        margin-top: 20px;
    }

    .fullwidth, .content{
        width: 100%;
    }
    .x-large{
        font-size: 128px;
        height: 128px;
        width: 128px;
    }

    .text_margin{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .registrado{
        display: flex;
        height: 90%;
    }

    .center_content{
        display: flex;
        justify-content: center;
    }

    .spinner{
        position: absolute;
        top: 47%;
        left: 47%;
        transform: translate(-50%, -50%);
    }
    .div_spinner{
        background: #ffffff85;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .padding_top{
        padding-top: 100px;
    }

    .cursor-pointer{
        cursor: pointer;
        text-decoration: underline !important;
    }
    .content {
        font-family: Muli,Helvetica Neue,Arial,sans-serif !important;
    }

}