configuracion-general-dashboard {
    mat-form-field {
        width: 100%;
    }
    mat-icon {
        cursor: pointer;
    }
    a {
        text-decoration: none !important;
    }
    .header {
        border-bottom: 7px #6e992e solid !important;
        box-shadow: 0px 2px 4px 0px grey;
    }
    .header h2 {
        color: #6e992e;
    }
    mat-card {
        margin-bottom: 10px;
        border-top: red 10px solid;
    }
    mat-card-content {
        text-align: center;
        height: 160px;
        .card-circe {
            margin: auto;
            margin-top: 25px !important;
            height: 120px;
            min-width: 120px;
            width: 50%;
            border-radius: 50%;
            background: red;
            font-size: 65px;
            font-weight: bold;
            color: white;
            text-align: center;
            line-height: 115px;
        }
    }
}