<!-- CONTENIDO -->
<div class="page-layout simple fullwidth inner-scroll" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header">

        <div>
            <div class="breadcrumb">
                <mat-icon routerLink="/" color="accent" class="mat-icon24 cursor-pointer">home</mat-icon>
                <mat-icon>chevron_right</mat-icon>
                <span>Nómina</span>
                <mat-icon>chevron_right</mat-icon>
                <a [routerLink]="'/nomina/tipo-liquidaciones'">Tipos de liquidación</a>
                <mat-icon>chevron_right</mat-icon>
                <span>Visualizar tipo de liquidación </span>
            </div>
            <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <h2>Visualizar tipo de liquidación</h2>
            </div>
        </div>

        <div class="acciones">
            <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">
                <mat-icon>add</mat-icon>
                <span>Acciones</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="arrayPermisos.actualizar"
                    routerLink="/nomina/tipo-liquidaciones/{{item.id}}/editar">
                    <span>Editar tipo de liquidación</span>
                </button>

                <button mat-menu-item *ngIf="arrayPermisosConceptos.crear" (click)="conceptoHandle($event)">
                    <span>Agregar concepto</span>
                </button>
                <button mat-menu-item *ngIf="arrayPermisosEstados.crear" (click)="estadoHandle($event)">
                    <span>Agregar estado funcionario</span>
                </button>

                <button mat-menu-item *ngIf="arrayPermisosEstados.crear" (click)="crearParametroHandle($event)">
                    <span>Agregar parámetro contable</span>
                </button>

                <a routerLink="/nomina/tipo-liquidaciones" mat-menu-item>Volver</a>

            </mat-menu>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <div>

            <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTab"
                (selectedTabChange)="selectedTabChangeHandle($event)">
                <!-- Información -->

                <mat-tab label="Información">

                    <div *ngIf="item">
                        <div mat-dialog-content fusePerfectScrollbar>


                            <div class="dos-bloque">
                                <div>
                                    <h3>Código <mat-icon class="s-16" matSuffix
                                            matTooltip="Identificador del código del tipo de liquidación.">
                                            info
                                        </mat-icon>
                                    </h3>
                                    <p> {{item.codigo}} </p>
                                </div>

                                <div>
                                    <h3>Nombre <mat-icon class="s-16" matSuffix
                                            matTooltip="Nombre del tipo de liquidación.">info
                                        </mat-icon>
                                    </h3>
                                    <p> {{item.nombre}}</p>
                                </div>


                            </div>

                            <div class="dos-bloque">
                                <div>
                                    <h3>Tipo de período <mat-icon class="s-16" matSuffix
                                            matTooltip="Período de liquidación que utiliza el tipo de nómina.">
                                            info
                                        </mat-icon>
                                    </h3>
                                    <p> {{item.tipoPeriodo?.nombre}} </p>
                                </div>
                                <div>
                                    <h3>Fechas manuales
                                        <mat-icon class="s-16" matSuffix
                                            matTooltip="Establece si las fechas de liquidación deben ser calculadas o ingresadas por el funcionario.">
                                            info
                                        </mat-icon>
                                    </h3>
                                    <p *ngIf="item.fechaManual == false ">No </p>
                                    <p *ngIf="item.fechaManual == true ">Si </p>
                                </div>
                            </div>

                            <div class="dos-bloque">
                                <div>
                                    <h3>Tipo de proceso <mat-icon class="s-16" matSuffix
                                            matTooltip="Procedimiento que utiliza el tipo de liquidación.">info
                                        </mat-icon>
                                    </h3>
                                    <p> {{item.proceso == 'Cesantias' ? 'Cesantías' : item.proceso}}</p>
                                </div>
                                <div>
                                    <h3>Contabiliza <mat-icon class="s-16" matSuffix
                                            matTooltip="Indica si el tipo de liquidación maneja contabilidad.">info
                                        </mat-icon>
                                    </h3>
                                    <p *ngIf="item.contabiliza == false ">No </p>
                                    <p *ngIf="item.contabiliza == true ">Si </p>
                                </div>
                            </div>



                            <div class="dos-bloque">
                                <div>
                                    <h3>Concepto de nómina agrupador <mat-icon class="s-16" matSuffix
                                            matTooltip="Item de la nómina que se utilizará para agrupar valores en la liquidación de nómina.">
                                            info
                                        </mat-icon>
                                    </h3>
                                    <p>{{item.conceptoNominaAgrupador?.codigo}},
                                        {{item.conceptoNominaAgrupador?.nombre}}
                                    </p>
                                </div>
                                <div>
                                    <h3>Afecta PILA <mat-icon class="s-16" matSuffix
                                            matTooltip="Indica si el tipo de liquidación afecta la generación del reporte de la PILA.">
                                            info
                                        </mat-icon>
                                    </h3>
                                    <p *ngIf="item.aplicaPila == false ">No </p>
                                    <p *ngIf="item.aplicaPila == true ">Si </p>
                                </div>
                            </div>


                            <div class="dos-bloque">
                                <div>
                                    <h3>
                                        Operación total funcionario
                                        <mat-icon class="s-16" matSuffix
                                            matTooltip="Indica el valor total que se debe mostrar por cada liquidación de nómina">
                                            info
                                        </mat-icon>
                                    </h3>
                                    <p>
                                        {{item.operacionTotal == 'TotalDevengosMenosTotalDeducciones' ? 'Total devengos menos total deducciones' : null}}
                                        {{item.operacionTotal == 'TotalCalculos' ? 'Total cálculos' : null}}
                                        {{item.operacionTotal == 'SoloCalculosSinAgrupar' ? 'Solo cálculos sin agrupar' : null}}
                                        {{item.operacionTotal == 'TotalDeducciones' ? 'Total deducciones': null}}
                                    </p>
                                </div>

                                <div>
                                    <h3>Novedad que aplica para liquidar <mat-icon class="s-16" matSuffix
                                            matTooltip="Conceptos eventuales que se van a procesar en este tipo de liquidación.">
                                            info
                                        </mat-icon>
                                    </h3>
                                    <p> {{modulos}} </p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <h3>Descripción <mat-icon class="s-16" matSuffix
                                            matTooltip="Breve descripción del tipo de nómina.">info
                                        </mat-icon>
                                    </h3>
                                    <p>{{item.descripcion != null ? item.descripcion : 'N/A'}}</p>
                                </div>
                            </div>


                        </div>

                    </div>
                </mat-tab>

                <!-- Conceptos asociados-->
                <mat-tab label="Conceptos asociados">

                    <tipo-liquidaciones-listar-editar [tipo-liquidaciones]="item" [mostrar-boton-crear]="false">
                    </tipo-liquidaciones-listar-editar>

                </mat-tab>
                <!-- Conceptos asociados-->

                <!-- Conceptos estados-->
                <mat-tab label="Estados asociados">

                    <tipo-liquidaciones-estados [tipo-liquidaciones-id]="item.id" [mostrar-boton-crear]="false">
                    </tipo-liquidaciones-estados>

                </mat-tab>
                <!-- Conceptos asociados-->

                <!-- Conceptos estados-->
                <mat-tab label="Parámetros contables">

                    <tipo-liquidaciones-parametros [tipo-liquidaciones-id]="item.id" [mostrar-boton-crear]="false">
                    </tipo-liquidaciones-parametros>
                </mat-tab>
                <!-- Conceptos asociados-->

                
            </mat-tab-group>
        </div>

        <!-- / CONTENIDO -->
    </div>
    <!-- / CONTENT -->
</div>